<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloaderEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DownloaderEx.Properties.Settings>
            <setting name="ConfirmDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value>C:\Downloads\</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="EnableSpeedLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeedLimit" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MemoryCacheSize" serializeAs="String">
                <value>1024</value>
            </setting>
        </DownloaderEx.Properties.Settings>
    </userSettings>
</configuration>